@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Ubuntu", sans-serif;
  color: white;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.navbar {
  background-color: rgb(46, 46, 46);
}

.navbar .navbar-nav .nav-item a {
  font-family: "Silkscreen", sans-serif;
  color: #d5d5d5;
}

.navbar .navbar-nav .nav-item a:hover,
.navbar .navbar-nav .nav-item a:active {
  color: #fff;
}

.navbar-brand,
.landing-page h1,
.landing-page h3 {
  font-family: "Silkscreen", sans-serif;
}

main {
  background: rgb(33, 6, 74);
  background: linear-gradient(
    0deg,
    rgba(33, 6, 74, 1) 0%,
    rgba(4, 0, 66, 1) 100%
  );
}

.title-container {
  background-image: linear-gradient(to bottom, transparent, rgb(41, 46, 51)),
    url("./media/sky-space-dark-galaxy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  color: white;
}

.landing-page {
  background-color: rgba(0, 0, 0, 0.2);
  font-family: "Silkscreen", sans-serif;
}

#bg-sobre {
  background-image: url(./media/about.webp);
}

#bg-planetas {
  background-image: url(./media/qtidm33lnd981.webp);
  background-position: center;
}

.ill-img {
  max-width: 250px;
}

.padding {
  padding: 50px;
}

.card,
.card-body {
  background-color: #2e2e2e !important;
}

.card h3 {
  font-family: "Silkscreen", sans-serif;
}

footer {
  background-color: rgb(46, 46, 46);
  padding: 5% 5% 0% 5%;
}

.fa {
  padding: 15px;
  font-size: 25px;
  color: #fff;
}

.fa:hover {
  color: #d5d5d5;
  text-decoration: none;
}

.icon {
  max-width: 150px;
}

.form-container {
  padding: 25px;
  width: 30%;
  border-radius: 10px;
  background-color: #222;
}

footer a {
  color: white;
  text-decoration: none;
  padding: 5px;
}

@media (max-width: 768px) {
  .title-container {
    min-height: 30vh;
  }
  h1 {
    font-size: calc(1.525rem + 3.3vw);
  }
}